<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HELLO WORLD!!</h1>
    <h1>This the main page of the Product Management</h1>
    <p>
        try entering this url "http://localhost:3000/products"
    </p>
</body>
</html>